<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <form class="form-box" action="/todoadd" method="POST">
        <div class="box-title">
            <h2>Todo리스트 글쓰기</h2>
        </div>
        <div class="box-content">
            <input name="content">
        </div>
        <div class="box-btn">
            <button type="submit">전송</button>
        </div>
    </form>    
</body>
</html>